 @import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;1,500;1,600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;0,700;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    background-color: #304F47;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.info{
    display: flex ;
    gap: 29px;
    margin-inline: 62px;
  
}

.mail{
    display: flex;
    gap: 10px;
}

.mail img{
    width: 25px;
    height: 18.93px;
    top: 16.83px;
    left: 245px;
    
}

  .number{
        display: flex;
        gap: 10px;
    }
    
    .number img{
        width: 20px;
height: 21.03px;
top: 15.78px;
left: 100px;
 }

 .num{
    font-family: Podkova;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.email{
    font-family: Podkova;
 font-size: 15px;
 font-weight: 400;
 line-height: 13px;
 letter-spacing: 0em;
 text-align: left;
 color: white;

 }

 .sm{
    margin-inline: 60px;
 }

 .navbar{
    display: flex;
    justify-content: space-between;
    padding: 29px;
 }
    .flexer{
        display: flex;
        align-items: center;
        gap: 50px;
    }


    .flex{
        font-family: Mulish;
        font-weight: 500;
        color: #000000B2;
    }

    .hm{
        display: flex;
        flex-direction: column;
        padding-top: 7px;
    }

    .line{
        background-color: #304F47;
        height: 3px;
       
    }
    .under{
        padding-top: 5px;
    }

    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: Mulish;
        background-color: #C7923E;
        outline: 1px solid #304F47;
        border-radius: 10px;
       margin-right: 30px;
       margin-top: 26px;
       margin-bottom: 20px;
       width: 10%;
      
    }

    .button a{
        color: white;
        text-decoration: none;
    }

    .rwan {
        background-image: url('Hero.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80vh;
        
       }

       .rwantwo {
        background:
        
        linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ), url('Image\ Placeholder\ \(7\).png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80vh;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
        font-family: Lora;
       }

       .tpone{
        font-size: 60px;
       }
        .tpsw{
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
            font-size: 24px;
        }

        .tptwo{
            color: #C7923E;
        }
        .caret{
            padding-top: 6px;
        }
        .caret img{
            height: 3vh;
        }
  .buttons{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-top: 30px;
  }

  .container{
    width: 80%;
    background-color: #304F47;
    height: 10vh;
    display: flex;
    padding: 20px;
    gap: 40px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-inline: 230px;
    margin-top: -39px;
  }

  .adult{
    display: flex;
    gap: 10px;
    width: 19vh;
  }
  .app{
    
        display: flex;
        gap: 10px;
        width: 20vh;
        color: white;
        font-family: Mulish;
      }
      
  

  .search{
    background-color: white;
    height: 10vh;
     display: flex;
     align-items: center;
     width: 357px;
    height: 53px;
   border-radius: 8px;
}

.buttn{
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    padding-inline: 16px;
}

.bar{
    padding-top: 6px;
    padding-inline: 19px;
}


.gap{
    display: flex;
    gap: 40px;
}

.guest{
    color: grey;
    font-family: Mulish;
    font-size: 24px;
    opacity: 0.5;
}

.ad{
    color: white;
    font-family: Mulish;
    
}
.book{
    

    padding-inline: -30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: Mulish;
    background-color: #C7923E;
    outline: 1px solid #304F47;
    border-radius: 8px;
   width: 25%;
   margin-top: 164px;
    margin-bottom: 169px;
    font-size: 20px;


}
.icon img{
    margin-top: 2px;
}

.bn{
       width: 20vh;
       padding-block: 15px;
}

.margin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

  .sts{
    margin-right: 44px;
  }
.group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Lora;
    gap: 20px;
    padding-top: 20px;
}

.choose{
    color: #C7923E;
    font-weight: 700;
    font-size: 42px;
    padding-top: 50px;
}

.select{
    font-size: 54px;
    font-weight: 700;
width: 90vh;
}




.background{
    border-top: 1px solid transparent;
   border-left: 1px solid #E1E1E1;
   border-right: 1px solid #E1E1E1;
   border-bottom  : 1px solid #E1E1E1;
    border-radius: 8px;
    height: 10vh;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -5px;
   height: 33vh;
 padding: 10px;
}

.header{
    font-family: Lora;
    font-weight: 700;
    font-size: 30px;
    padding-top: 10px;

}

.text{
    font-family: Mulish;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
}

.learn{
    padding-top: 12px;
    background-color: #C7923E;
    color: white;
    border-radius: 8px;
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-family: Mulish;
    
}
.learn a{
    padding-top: 12px;
    background-color: #C7923E;
    color: white;
    border-radius: 8px;
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-family: Mulish;
    
}

.lm{
    padding-bottom: 12px;
}

.packages{
    display: flex;
    width: 100%;
padding-top: 30px;
flex-wrap: wrap;
gap: 40px;
margin-left: 63px;

}
.package{
    display: flex;
    flex-direction: column;
    width: 29%;
    
 
}


.texts{
    font-family: Mulish;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 70%;
    padding-bottom: 45px;
}

.wordings{
   
    font-family: Mulish;
    font-weight: 400;
    padding-top: 28px;
    padding-bottom: 25px;
    width: 93%;
    padding-bottom: 27px;
    }




.destinations{
    display: flex;
    gap:30px;
padding-top: 30px;
width: 100%;
padding: 33px;
margin-left: 29px;
}

.head{
    font-family: Lora;
    font-weight: 700;
    font-size: 30px;
}

.lorem{
    font-family: Mulish;
    color: #9A9AB0;
    padding-top: 20px;
    width:70%;
}

.space{
   padding-top: 30px;
  
}

.pbtn{
    justify-content: end;
    display: flex;
    gap: 19px;
    padding: 30px;
}

.boxes{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
    padding-top: 50px;
    width: 100%;
    
}

.boxes img{
    margin-inline: 23px;
}

.testimonials{
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #0000001A;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 40vh;
    width: 30vh;
    padding: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;

}

.tests{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    margin-left: 150px;
}

.name{
    font-family: Lora;
    font-weight: 700;
    font-size: 23px;
}

.review{
    font-family: Mulish;
   color: #9A9AB0;
   width: 100%;
   padding-top: 20px;

}

.flexed
{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}



.lines{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.lineone{
    width: 5vh;
    height: 8px;
    background-color: #C7923E;
}
.linetwo{
    width: 5vh;
    height: 8px;
    background-color: #304F47;
}

.footer{
    display: flex;
    width: 100%;
    height: 80vh;
    background-color: #304F47;
    padding: 70px;
    gap: 450px;
}
.ask{
    font-size: 56px;
    width: 563px;
    font-family: Lora;
    font-weight: 700;
    color: white;
}

.asktwo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: Mulish;
    color: white;
    font-weight: 400;
    line-height: 25px;
}

.partone{
    padding-top: 30px;
    width: 39vh;
}
.partwo{
    display: flex;
    
}

.sub{
    color: white;
    font-family: Mulish;
    font-weight: 700;
    padding-block: 50px;
}

.send{
    display: flex;
    gap: 15px;
}
.textbox{

        background-color: white;
        height: 10vh;
         display: flex;
         align-items: center;
         width: 300px;
        height: 53px;
       border-radius: 8px;
       
    }


.input{
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    padding-inline: 20px;
}

.sendbtn img{
    height:6vh ;
}
.sendbtn{
    margin-top: 3px;
}

.boxtwo{
    display: flex;
    flex-direction: column;
    font-family: Mulish;
    color: white;
    width: 100%;
    gap: 50px;
    padding-top: 20px;
    margin-left: -113px;
}

    .boxone{
        display: flex;
        flex-direction: column;
        font-family: Mulish;
        color: white;
        width: 100%;
    }

.st{
    width: 56vh;
   
   
}

.two {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.gapping{
    display: flex;
    gap: 50px;
    padding-top: 50px;
}

    .groupone{
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: center;
        margin-left: -128px;
    }
.copy{
    background-color: #304F47;
    color: white;
    font-family: Mulish;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
}
   .image img{
    width: 100%;
   }

   .hike img{
    width: 100%;
   }

   .kivu img{
    width: 100%;
   }

   .flex a{
    color: #304F47;
    text-decoration: none;
   }


   .buttn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 10vh;
   }
    
   .btn{
   display: flex;
   width: 15vh;
   height: 7vh;
   align-items: center;
   padding-left: 25px;
   padding-right: 1px;
   background-color: #C7923E;
   border-radius: 8px;
   outline: none;
   border: none;
   color: white;
   font-family: Mulish;
   font-size: 20px;
   width: 23vh;
   }

   .btn a{
    text-decoration: none;
    color: white;
   }


   .box{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .photos{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 70px;
    
}
.photos1{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 70px;
    padding-top: 0px;
    
}
    .photos2{
        display: flex;
        width: 100%;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 70px;
        padding-top: 0px;
        
    }
    .dp{
        width: 100%;
    }

    .dpfour{
        width: 100%;
        
    }

    .imagethree{
        width: 100%;
    }
    .dptwo{
        display: flex;
        gap: 10px;
        
        
    }

    .dpthree{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .dptwo img{
     padding-top: 5px;
    }

    .imageone img{
        width: 100%;
        height: 100%;
    }
   .imagethree img{
    
    height: 79vh;
   }

   .imagefour img{
    width: 100%;
    height:53vh;
    
   }

   .imagefive img{
    width: 100%;
   }

   .imagesix img{
    height: 39vh;
  }

  .imageseven img{
height: 40vh;
  }
  